body {
   font-family: sans-serif;
}
header {
   text-align: center;
   font-size: 40px;
   background-color: black;
   color: white;
}
footer {
   background-color: #777;
   padding: 10px;
   text-align: center;
   color: white;
}
li {
   display: inline;
}
table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align:center;
    vertical-align: center;
    border: 1px solid #000;
    border-spacing: 0;
    border-spacing: 0;
    padding: 0.3em;
 }
 caption {
    vertical-align:middle;
    border: 1px solid gray;
    caption-side: top;
    padding: 0.3em;
 }